<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="push" [opened]="false" [autoFocus]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="repoMenuItemLink" routerLinkActive=":focus" [matTooltip]="repoButtonTooltip"
        [disabled]="isRepoButtonDisabled" (click)="sidenav.close()"
        [activated]="isRouterLinkActive(repoMenuItemLink)">Repositories</a>
      <a mat-list-item [routerLink]="pendingWorkflowMenuItemLink" routerLinkActive=":focus"
        [disabled]="isPendingWorkflowButtonDisabled" [matTooltip]="pendingWorkflowButtonTooltip"
        (click)="sidenav.close()" [activated]="isRouterLinkActive(pendingWorkflowMenuItemLink)">Workflow
        Approvals</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <button *ngIf="isUserLoggedIn" mat-icon-button [matTooltip]="logoutButtonTooltip" aria-label="Logout button"
        (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
