<mat-accordion>
  <mat-expansion-panel hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Select Repositories
      </mat-panel-title>
      <mat-panel-description>
        Search and select repositories to monitor
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (submit)="false">
      <mat-form-field>
        <mat-label>Search Repositories</mat-label>
        <input matInput type="text" [value]="initialSearch" (keyup)="onRepositorySearch($event)">
      </mat-form-field>
    </form>
    <app-repo-table [data$]="data$" [totalCount]="totalCount" [onRepoSelected]="onRepoSelected"
      [actions]="['follow']"></app-repo-table>
  </mat-expansion-panel>
</mat-accordion>
