<mat-accordion>
  <mat-expansion-panel hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Followed Repositories
      </mat-panel-title>
      <mat-panel-description>
        Repositories you are currently following
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-repo-table [repos]="followedRepos" [totalCount]="totalFollowCount" [onRepoAction]="onRepoAction"
      [actions]="['unfollow']" [messageIfNoRows]="messageIfNoFollowedRepos"></app-repo-table>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Select Repositories
      </mat-panel-title>
      <mat-panel-description>
        Search and select repositories to follow
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (submit)="false">
      <mat-form-field>
        <mat-label>Search Repositories</mat-label>
        <input matInput type="text" [value]="initialSearch" (keyup)="onRepositorySearch($event)">
      </mat-form-field>
    </form>
    <app-repo-table [repos]="searchedRepos" [totalCount]="totalSearchCount" [onRepoAction]="onRepoAction"
      [actions]="['follow']" [messageIfNoRows]="messageIfNoSearchResults"></app-repo-table>
  </mat-expansion-panel>
</mat-accordion>
