<div class="mat-elevation-z8" *ngIf="data$ | async as data">
  <mat-card-header>
    <mat-card-title>Repository Selector</mat-card-title>
  </mat-card-header>
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="data">

    <!-- Owner column -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <mat-label>Owner</mat-label>
          <input matInput (keyup)="onOwnerFilterChange($event)">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row">{{row.owner}}</td>
    </ng-container>

    <!-- Repo column -->
    <ng-container matColumnDef="repo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <mat-label>Repository</mat-label>
          <input matInput>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let row">{{row.repo}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="data.length" [pageIndex]="0" [pageSize]="25" aria-label="Select page">
  </mat-paginator>
</div>
