<mat-card class="card">
  <div>
    <mat-card-header>
      <mat-card-title>
        Workflow Runs
      </mat-card-title>
      <button mat-button matTooltip="Refresh workflow runs" class="float-right" aria-label="Refresh button"
        (click)="refreshWorkflows()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-header>
  </div>
  <mat-card-content *ngIf="repoWorkflowsRuns$ | async as workflowRuns">
    <app-workflow-table *ngIf="workflowRuns.total_count > 0; else noRuns"
      [workflowRuns]="workflowRuns"></app-workflow-table>
  </mat-card-content>
  <mat-card-footer *ngIf="reposWithNoWaitingWorkflows.length > 0">
    <mat-card-content>
      <p><b>Repositories with no waiting workflows:</b> {{ reposWithNoWaitingWorkflows.join(", ") }}</p>
    </mat-card-content>
  </mat-card-footer>
</mat-card>

<!-- Templates -->
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #noRuns>
  <p>No waiting workflow runs found.</p>
</ng-template>
