<mat-card class="card">
  <div>
    <mat-card-header>
      <mat-card-title>
        Pending Workflow Approvals
      </mat-card-title>
      <button mat-button matTooltip="Refresh pending approvals" class="float-right" aria-label="Refresh button"
        (click)="refreshWorkflows()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-header>
  </div>
  <ng-container *ngIf="repos$ | async">
    <ng-container *ngIf="repoWorkflowsRuns$ | async as workflowRuns; else loading">
      <mat-card-content>
        <app-workflow-table *ngIf="workflowRuns.total_count > 0; else noRuns" [workflowRuns]="workflowRuns"
          (runReviewed)="refreshWorkflows(false)"></app-workflow-table>
      </mat-card-content>
      <mat-card-footer *ngIf="reposWithNoWaitingWorkflows.length > 0">
        <mat-card-content>
          <p><b>Repositories with no pending approvals:</b> {{ reposWithNoWaitingWorkflows.join(", ") }}</p>
        </mat-card-content>
      </mat-card-footer>
    </ng-container>
  </ng-container>
</mat-card>

<!-- Templates -->
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #noRuns>
  <p>No pending workflow approvals found.</p>
</ng-template>
