<ng-container *ngIf="workflowRuns">
  <table mat-table class="full-width-table mat-elevation-z8" matSort aria-label="Workflow runs"
    [dataSource]="workflowRuns.workflow_runs">
    <ng-container matColumnDef="workflow">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Workflow</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>
    <ng-container matColumnDef="repo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Repository</th>
      <td mat-cell *matCellDef="let row">
        {{row.repository.full_name}}
        <button mat-button matTooltip="Stop following repository" color="warn" aria-label="Unfollow repository"
          (click)="removeRepo(row.repository.full_name)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row; let i = dataIndex">
        <button mat-button matTooltip="Reject" color="warn" aria-label="Reject workflow run button"
          (click)="openDialog({ workflowRun: row, action: 'reject' })">
          <mat-icon>block</mat-icon>
        </button>
        <button mat-button matTooltip="Approve" color="primary" aria-label="Approve workflow run button"
          (click)="openDialog({ workflowRun: row, action: 'approve' })">
          <mat-icon>check</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="workflowRuns.total_count" [pageIndex]="0" [pageSize]="25"
    aria-label="Select page">
  </mat-paginator>
</ng-container>
