<ng-container *ngIf="workflowRuns">
  <table mat-table class="full-width-table mat-elevation-z8" matSort aria-label="Workflow runs"
    [dataSource]="workflowRuns.workflow_runs">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row"><a [href]="row.html_url" target="_blank">{{row.id}}</a></td>
    </ng-container>

    <ng-container matColumnDef="workflow">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.display_title}}</td>
    </ng-container>

    <ng-container matColumnDef="repo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Repository</th>
      <td mat-cell *matCellDef="let row">
        <a [href]="row.repository.html_url" target="_blank">{{row.repository.full_name}}</a>
        <button mat-button matTooltip="Unfollow repository" color="warn" aria-label="Unfollow repository"
          (click)="removeRepo(row.repository.full_name)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="triggered_by">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Triggered By</th>
      <td mat-cell *matCellDef="let row"><a [href]="row.triggering_actor.html_url"
          target="_blank">{{row.triggering_actor.login}}</a></td>
    </ng-container>

    <ng-container matColumnDef="started_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Started</th>
      <td mat-cell *matCellDef="let row">{{row.run_started_at}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row; let i = dataIndex">
        <button mat-button matTooltip="Reject" color="warn" aria-label="Reject workflow run button"
          (click)="openDialog({ workflowRun: row, action: 'reject' })">
          <mat-icon>block</mat-icon>
        </button>
        <button mat-button matTooltip="Approve" color="primary" aria-label="Approve workflow run button"
          (click)="openDialog({ workflowRun: row, action: 'approve' })">
          <mat-icon>check</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="workflowRuns.total_count" [pageIndex]="0" [pageSize]="25"
    aria-label="Select page">
  </mat-paginator>
</ng-container>
